In [ ]:
import pandas as pd

In [ ]:
fpl = pd.read_csv('FPL_Data.csv')
fpl.head()

       first_name           second_name  ...  now_cost  element_type
0           Mesut                  Özil  ...        68           MID
1        Sokratis      Papastathopoulos  ...        48           DEF
2           David  Luiz Moreira Marinho  ...        54           DEF
3  Pierre-Emerick            Aubameyang  ...       114           MID
4          Cédric                Soares  ...        46           DEF

[5 rows x 19 columns]